@import "./_variables.scss";

body {
  font-family: "Lato", sans-serif;
  background-color: $color-bg;
  color: $color-text;
}

.center {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.header-border {
  border-bottom: 1px solid $color-border;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;

  &_list {
    display: flex;
    gap: 30px;

    &_item {
      text-transform: uppercase;

      &:hover {
        color: $color-hover;
      }
    }
  }

  &_button {
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid $color-text;
    max-width: 130px;

    &:hover {
      background-color: $color-hover;
      color: $color-bg;
      border: 1px solid $color-hover;
    }
  }
}

.logo {
  min-width: 125px;
  max-width: 100%;
}

.text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  &__m {
    font-size: 18px;
  }

  &__s {
    font-weight: 300;
    font-size: 18px;
  }

  &__xs {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
  }
}

.heading {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;

  &__xs {
    font-size: 18px;
  }
}

.main {
  background-color: $color-bg-alt;
  padding: 150px 10px;
}

.section-top {
  &_heading {
    text-transform: uppercase;
    text-align: center;
  }

  &_divider {
    margin: 20px auto 0;
    border: 0;
    border-top: 4px solid $color-border-alt;
    max-width: 45px;
  }

  &_text {
    text-align: center;
    max-width: 570px;
    margin: 40px auto 0;
  }
}

.section-team {
  display: flex;
  margin-top: 60px;
  gap: 30px;

  &_heading {
    white-space: nowrap;
    margin-top: 20px;
  }

  &_text {
    color: $color-text-alt;
  }

  &_container {
    position: relative;

    &_image {
      max-width: 270px;
      min-width: 120px;
      width: 100%;
    }

    &_overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: $color-hover;
    }

    &:hover &_overlay {
      opacity: 1;
      height: 100%;
    }
  }
}

.social {
  top: 50%;
  left: 50%;
  display: flex;
  position: absolute;
  gap: 4px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  &_item {
    width: 42px;
    height: 42px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s ease;

    &__twitter {
      background-image: url("../img/twit.svg");

      &:hover {
        background-image: url("../img/twit-alt.svg");
      }
    }

    &__facebook {
      background-image: url("../img/fb.svg");

      &:hover {
        background-image: url("../img/fb-alt.svg");
      }
    }

    &__instagram {
      background-image: url("../img/ins.svg");

      &:hover {
        background-image: url("../img/ins-alt.svg");
      }
    }
  }
}
