body {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  color: #3c3c3c;
}

.center {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.header-border {
  border-bottom: 1px solid #bdbdbd;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.header_list {
  display: flex;
  gap: 30px;
}
.header_list_item {
  text-transform: uppercase;
}
.header_list_item:hover {
  color: #18b5dc;
}
.header_button {
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid #3c3c3c;
  max-width: 130px;
}
.header_button:hover {
  background-color: #18b5dc;
  color: #ffffff;
  border: 1px solid #18b5dc;
}

.logo {
  min-width: 125px;
  max-width: 100%;
}

.text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.text__m {
  font-size: 18px;
}
.text__s {
  font-weight: 300;
  font-size: 18px;
}
.text__xs {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

.heading {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
}
.heading__xs {
  font-size: 18px;
}

.main {
  background-color: #f6f6f6;
  padding: 150px 10px;
}

.section-top_heading {
  text-transform: uppercase;
  text-align: center;
}
.section-top_divider {
  margin: 20px auto 0;
  border: 0;
  border-top: 4px solid #dddbdb;
  max-width: 45px;
}
.section-top_text {
  text-align: center;
  max-width: 570px;
  margin: 40px auto 0;
}

.section-team {
  display: flex;
  margin-top: 60px;
  gap: 30px;
}
.section-team_heading {
  white-space: nowrap;
  margin-top: 20px;
}
.section-team_text {
  color: #646464;
}
.section-team_container {
  position: relative;
}
.section-team_container_image {
  max-width: 270px;
  min-width: 120px;
  width: 100%;
}
.section-team_container_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #18b5dc;
}
.section-team_container:hover .section-team_container_overlay {
  opacity: 1;
  height: 100%;
}

.social {
  top: 50%;
  left: 50%;
  display: flex;
  position: absolute;
  gap: 4px;
  transform: translate(-50%, -50%);
}
.social_item {
  display: block;
  width: 42px;
  height: 42px;
  background: #5dcbe6 no-repeat center;
  transition: 0.5s ease;
}
.social_item:hover {
  background-color: #ffffff;
}
.social_item__twitter {
  background-image: url("../img/tw-white.svg");
}
.social_item__twitter:hover {
  background-image: url("../img/tw-blue.svg");
}
.social_item__facebook {
  background-image: url("../img/fb-white.svg");
}
.social_item__facebook:hover {
  background-image: url("../img/fb-blue.svg");
}
.social_item__instagram {
  background-image: url("../img/inst-white.svg");
  transform: rotate(-90deg);
}
.social_item__instagram:hover {
  background-image: url("../img/inst-blue.svg");
}

.footer {
  text-align: center;
  padding: 40px 10px;
}
.footer_list {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  gap: 30px;
}
.footer_list_item {
  text-transform: uppercase;
}
.footer_list_item:hover {
  color: #18b5dc;
}
.footer_social {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  gap: 10px;
}
.footer_social_link {
  display: block;
  width: 42px;
  height: 42px;
  border: 1px solid #18b5dc;
  background: #ffffff no-repeat center;
  transition: 0.5s ease;
}
.footer_social_link:hover {
  background-color: #18b5dc;
}
.footer_social_link__twitter {
  background-image: url("../img/tw-blue.svg");
}
.footer_social_link__twitter:hover {
  background-image: url("../img/tw-white.svg");
}
.footer_social_link__facebook {
  background-image: url("../img/fb-blue.svg");
}
.footer_social_link__facebook:hover {
  background-image: url("../img/fb-white.svg");
}
.footer_social_link__instagram {
  background-image: url("../img/inst-blue.svg");
}
.footer_social_link__instagram:hover {
  background-image: url("../img/inst-white.svg");
}
.footer_social_link__linkedin {
  background-image: url("../img/in-blue.svg");
}
.footer_social_link__linkedin:hover {
  background-image: url("../img/in-white.svg");
}
.footer_social_link__telegram {
  background-image: url("../img/tg-blue.svg");
}
.footer_social_link__telegram:hover {
  background-image: url("../img/tg-white.svg");
}/*# sourceMappingURL=styles.css.map */